{%extends 'index2.html'%}
{% block body%}
     <div class="parent">
                <div class="bar2">
                    <a class="a1" href="#">
                     <img src= "{{url_for('static', filename= 'images/book.png')}}" alt="ارض زيكولا 2">
                    </a>
                    <a class="a2" href="#">ارض زيكولا 2</a>
                </div>
                <div class="bar3">
                    <a class="a3" href="#">صورة</a>
                    <a class="a4" href="#">مغامرات في بحر الحب</a>
                </div>
                <div class="bar4">
                    <a class="a5" href="#">صورة</a>
                    <a class="a6" href="#">مغامرات في بحر الحب</a>
                </div>
                <div class="bar5">
                    <a class="a7" href="#">صورة</a>
                    <a class="a8" href="#"> الاب الغني و الاب الفقير</a> 
                </div>
                <div class="bar6">
                    <a class="a9" href="#">صورة</a>
                    <a class="a10" href="#">فن اللامبالاة</a> 
                </div>
            </div>
{%endblock%}